.ant-select-selector {
    height: inherit !important;
}

.business--info {
    .ant-form-item .ant-form-item-control-input-content {
        display: flex !important;
        justify-content: end !important;
    }
}