.ant-select-selector {
    height: inherit !important;
}
.business--info {
    .ant-form-item .ant-form-item-control-input-content {
        display: flex !important;
        justify-content: end !important;
    }
}
.ant-switch {
    background: #cccccc !important;

    &.ant-switch-checked {
        background: #3789B4 !important;
    }
}
.ant-table {
    font-size: 15px!important;
}
.side-menu.ant-menu {
    .ant-menu-item, .ant-menu-submenu-title {
        width: 100%;
        padding: 0!important;
        margin: 0!important;
    }
}
// .ant-drawer-content-wrapper {
//     margin-top: 4rem !important;
// }